<%- include('../../views/partials/head.ejs') %>
<div class="container"><br>
  <h1>Login</h1><hr><br><br>
  <button class="btn btn-dark" name="admin" value="admin" onclick="Login(this.name)">Admin</button>
  <button class="btn btn-dark" name="Kitchen" value="Kitchen" onclick="Login(this.name)">Kitchen</button>
  <a href="/users/login"><button class="btn btn-dark">User</button></a>
</div>

<br>

<div id="login" class="container">
</div>

<%- include('../../views/partials/foot.ejs') %>
<script>
  
  function Login(name){
    const login = document.getElementById('login')

    login.innerHTML=`
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <form action="/login" method="post">
          <input class="form-control" type="" name="name" value=${name} uneditable>
          <label for="password"b class="form-label">password:</label>
          <input type="password" name="password" class="form-control" placeholder="*********">
          <br><button class="btn btn-dark">sign in</button><br>
        </form>
      </div>
    </div>
    `   
  }
</script>